body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wholePage {
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

.wholePageDark {
  background-color: black;
  color: white;
}

.standardBorder {
  border: 3px black solid;
  padding-right: 10px;
  padding-left: 10px;
  margin : 3px;
  border-radius: 10px;
}

.standardBorderDark {
  border: 3px white solid;
}

.mainBody {
  flex: 20;
}

.headerBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  max-height: 50px;
}

.footerBody {
  flex: 1;
}

.standardButton {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border: black 3px solid;
  border-radius: 10px;
}

.standardButtonDark {
  color: white;
  background: black;
  border: white 3px solid;
}

.standardButton:hover {
  background: rgb(80, 80, 80);
}
